.home {
  .content {
    max-width: 700px;
    color: var(--color-white);

    h1 {
      font-family: "Press Start 2P", cursive;
      line-height: 60px;

      span {
        color: var(--color-tertiary);
      }
    }

    h2 {
      font-family: "Exo Space", sans-serif;
      text-transform: lowercase;
    }
  }
}
