.footer {
  background-color: var(--color-secondary--darker);
  z-index: 10;
  padding: 40px;


  .contacts {
    display: flex;
    color: var(--color-white);
    text-transform: uppercase;
    column-gap: 40px;
    padding: 20px;

    .logo {
      position: relative;
      flex-grow: 1;
      text-align: start;
      z-index: 11;

      img {
        width: 350px;
        position: absolute;
        top: -127px;
        transform: rotateY(180deg);
      }
    }

    .email {
      span {
        text-transform: lowercase;

        &:hover {
          color: var(--color-tertiary);
        }
      }
    }

    .social {
      .links {
        display: flex;
        column-gap: 10px;
        justify-content: center;

        .pentagon {
          background-color: var(--color-secondary--lightest);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 10px 6px;
          -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
          clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

          &:hover {
            color: var(--color-primary);
            cursor: pointer;
          }
        }
      }
    }

    .call {
      &:hover {
        .number {
          color: var(--color-primary);
        }

      }

    }

  }

  .copyright {
    color: var(--color-white);
    opacity: 33%;
    //hr {
    //  border-top: 1px solid var(--color-primary--darker);
    //}
  }
}

@media only screen and (max-width: 1024px) {
  .logo img {
    width: 300px !important;
    top: -93px !important;
  }
}

@media only screen and (max-width: 992px) {
  .logo {
    height: 200px;
    display: flex;
    justify-content: center;

    img {
      width: 300px !important;
      top: -40px !important;
    }
  }
  .contacts {
    flex-direction: column;
  }
}


